<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery Vender and Order Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Bebas+Neue&family=Markazi+Text&family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid"></div>
      @RenderBody()
    </div>
  </body>
</html>