/* Body -------------------------------- */

body {
  margin: 50px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  background-color: papayawhip;
}

a  {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #292929;
}

p {
  font-size: 25px;
}
/* Headers ----------------------------- */

h1 {
  font-size: 75px;
  font-family: 'Allan', cursive;
}

h2 {
  color: rgb(56, 46, 70);
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  padding-bottom: 15px;
}

h3 {
  padding-bottom: 15px;
}

/* Splash Page -------------------------- */

#splash {
  text-align: center;
  margin: 100px;
}

#splash h1 {
  font-size: 200px;
  padding: 0;
  margin-bottom: 20px;;
  color: rgb(56, 46, 70);
}

#splash h2 {
  font-family: 'Merriweather', serif;
  color: #292929;
  font-size: 40px;
  margin-top: 0;
}

#splash a {
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
  color: #292929;
}

/* Vendors and Orders --------------------- */

.orders {
  font-size: 30px;
}

.orders a {
  font-size: 30px;
}

.vendor a {
  font-size: 35px;
}

label{

  float: left;
  clear: left;
  width: 190px;
  text-align: left;
  margin-bottom: 10px;
}

input {
float: left;
}

/* Footer ---------------------------------- */

footer {
  margin-top: 30px;
}