h1 {
  color: rgb(22, 8, 39);
  font-family: 'Allan', cursive;
  font-size: 200px;
  padding: 0;
  margin-bottom: 0;
  
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  /* font-family: 'Markazi Text', serif; */
}

#splash {
  text-align: center;
  margin: 100px;
}

#splash a {
  font-family: 'Markazi Text', serif;
  color: rgb(22, 8, 39);
  /* font-family: 'Bebas Neue', cursive; */
  font-size: 40px;
}

body {
  font-family: 'Markazi Text', serif;
  background-color: papayawhip;
}